@model PetVET.Models.CustomerViewModels.CustomerViewModel

@{
    Layout = "_LayoutVET";
}

@section Scripts
    {
   @* <script src="~/js/Components/tmpl-ddl.js"></script>*@
    @*<script src="~/js/Utilis.js"></script>*@
    @*<script src="~/js/ViewModel/CustomerViewModel.js"></script>*@
    <script type="text/javascript">
    //customerViewModel.MapFromJson(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)));
    </script>
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="header-icon"><i class="fa fa-user-circle-o"></i></div>
        <div class="header-title">
            <h2 class="m-t-0"><b> @Model.FirstName @Model.LastName </b></h2>
            @*<small></small>*@
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <div class="card-header">
                        <div class="card-header-headshot"></div>
                    </div>
                    <div class="card-content">
                        @*<div class="card-content-member text-center">
                            <h4 class="m-t-0">@Model.City</h4>
                            <p class="m-t-0">@Model.CityCode</p>
                        </div>*@
                        <div class="card-content-languages">
                            <div class="card-content-languages-group">
                                <div>
                                    <h4><b>Adres:</b></h4>
                                </div>
                                <div>
                                    <ul>
                                        <li>
                                            <h4>@Model.Street @Model.HouseNumber @Model.HouseNumber</h4>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content-languages-group">
                                <div>
                                    <h4><b>Miasto:</b></h4>
                                </div>
                                <div>
                                    <ul>
                                        <li>
                                            <h4>@Model.City, @Model.CityCode</h4>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content-languages-group">
                                <div>
                                    <h4><b>Telefon:</b></h4>
                                </div>
                                <div>
                                    <ul>
                                        <li>
                                            <h4>@Model.PhonNumber</h4>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content-languages-group">
                                <div>
                                    <h4><b>E-mail:</b></h4>
                                </div>
                                <div>
                                    <ul>
                                        <li>
                                            <h4>@Model.Mail</h4>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        @*<div class="card-content-summary">
                            <p>Specialties are Creative UI, HTML5, CSS3, Semantic Web, Responsive Layouts, Web Standards Compliance, Performance Optimization, Cross Device Troubleshooting.</p>
                        </div>*@
                    </div>
                    <div class="card-footer">
                        <div class="card-footer-stats">
                            <div>
                                <p>Odbyte wizyty:</p>
                                <span>2</span>
                            </div>
                            <div>
                                <p>Anulowane wizyty:</p>
                               <span>1</span>
                            </div>
                            <div>
                                <p>Nieobecność</p>
                                <span>0</span>
                            </div>
                        </div>
                        <div class="card-footer-message">
                            <h4> Message me</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="row">
                    
                </div>
                <div class="review-block">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="review-block-img">
                                <img src="assets/dist/img/avatar.png" class="img-rounded" alt="">
                            </div>
                            <div class="review-block-name"><a href="#">nktailor</a></div>
                            <div class="review-block-date">January 29, 2016<br />1 day ago</div>
                        </div>
                        <div class="col-sm-9">
                            <div class="review-block-rate">
                                <button type="button" class="btn btn-rating btn-xs" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-rating btn-xs" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-rating btn-xs" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="review-block-title">this was nice in buy</div>
                            <div class="review-block-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="review-block-img">
                                <img src="assets/dist/img/avatar2.png" class="img-rounded" alt="">
                            </div>
                            <div class="review-block-name"><a href="#">nktailor</a></div>
                            <div class="review-block-date">January 29, 2016<br />1 day ago</div>
                        </div>
                        <div class="col-sm-9">
                            <div class="review-block-rate">
                                <button type="button" class="btn btn-rating btn-xs" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-rating btn-xs" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-rating btn-xs" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="review-block-title">this was nice in buy</div>
                            <div class="review-block-description">this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="review-block-img">
                                <img src="assets/dist/img/avatar3.png" class="img-rounded" alt="">
                            </div>
                            <div class="review-block-name"><a href="#">nktailor</a></div>
                            <div class="review-block-date">January 29, 2016<br />1 day ago</div>
                        </div>
                        <div class="col-sm-9">
                            <div class="review-block-rate">
                                <button type="button" class="btn btn-rating btn-xs" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-rating btn-xs" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-rating btn-xs" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="review-block-title">this was nice in buy</div>
                            <div class="review-block-description">this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
